@font-face{
	font-family: 'myriad';
	src:url('http://localhost:8888/porthealth/assets/fonts/MyriadPro-Regular.otf');
}
@font-face{
	font-family: 'nordstern';
	src:url('http://localhost:8888/porthealth/assets/fonts/NordsternDemo-Hell.ttf');
}
@font-face{
	font-family: 'open sans';
	src:url('http://localhost:8888/porthealth/assets/fonts/OpenSans-Light.ttf');
}
.page-title{
	  padding-left: 20px;
	  font-size: 28px;
	  letter-spacing: -1px;
	  display: block;
	  color: #666;
	  margin: 0px 0px 15px 0px;
	  font-weight: 300;
	  font-family: "open Sans", sans-serif;
}
.page-title small {
	  font-size: 14px;
	  letter-spacing: 0px;
	  font-weight: 300;
	  color: #888;
}
body{
	margin: 0px;
}
.header{
	height: 40px;
	width: 100%;
	background-color:#000;
	font-family: 'nordstern';
	font-size: 16px;
	color: #fff;
	padding-top: 10px;
	padding-left: 10px;
}

#login_window{
	width: 600px;
	height: 350px;	
	border: 1px solid #ccc;
	border-radius: 6px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.textfieldstyle{
	width: 500px;
	height: 25px;
	border: 1px solid #ccc;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 10px;
}
.buttonstyle{
	width: 100px;
	height: 25px;
	border: none;
	background-color: #024e06;
	color: #fff;
	position: relative;
	left: 7.5%;
}
.dashboardtable{
	border-collapse: collapse;
	font-family: verdana;
	font-size: 12px;
}
.dashboardtable tr td{
	height: 40px;
	text-align: center;
}
a{
	text-decoration: none;
}
.applicationstatus a